/*GENERALE*/
*{
    margin: 7% 0% 0% 0%;
    padding: 4% 0 0 0;
    text-decoration: none;
}

:root{
    --ambeee: #ffab40;
    --ambeShadow: #b87711;
    --bluelectric: #091fea;
    --electricShadow: #1e1eb7;
    --red: #ff3737;
    --redShadow: #8f1111;
    --grey: #303030;
    --black: black;
    --white: white;
    --link: #13FF22;
}

#sfondo{
    width: 100%;
    margin-top: -8%;
    margin-left: 0%;

    position:sticky;
    display: flex;
}


/*INTESTAZIONE*/

#Titolo{
    margin: 0% 0% 0% 5%;

    display: flex;
    flex-direction: column;
}

#welcome{
    width: 18%;
    margin: -54% -2% -0.5% 9%;
    position: sticky;
}

#webeee{
    width: 54%;
    margin: -7% 0% 0% 7%;

    position: sticky;
}


/*MENU*/
#logo{  
    width: 5%;
    margin: -62% 8% 0 93%;
    position: fixed;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#logo:hover{
    transform: scale(1.05);
}

#menu{
    width: 5%;
    top: -12%;
    right: 35%;

    position: fixed;
    display: flex;
    flex-direction: row;
}

.tab{
    width: 90%;
    margin: 0% 30px; /*30px*/
    
    background-color: var(--white);
    border-radius: 25px;

    font-size: 100%;
    color: var(--grey);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.tab:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    color: var(--bluelectric)
}


/*PAGINA*/
#Pagina{
    height: 5%;
    margin-top: -5%;
    padding-top: 100%;

    position: static;
    background-color: var(--ambeee);
}

#consigliati{
    height: 10%;
    width: 15%;
    margin: -95% 40%;
    padding: 1% 2% 3% 1%;

    background-color: var(--second);
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 125%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
