/*GENERALE*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --ambeee: #ffab40;
    --ambeShadow: #b87711;
    --bluelectric: #091fea;
    --electricShadow: #1e1eb7;
    --red: #ff3737;
    --redShadow: #8f1111;
    --grey: #303030;
    --black: black;
    --white: white;
    --link: #13FF22;
}
body{
    margin: 7 0 0 0;
    padding: 4 0 0 0;
}
#sfondo{
    width: 100%;
    margin-top: 30%;
    margin-left: 0%;

    position:sticky;
    display: flex;
}

/*INTESTAZIONE*/

#Titolo{
    margin: 0% 0% 0% 5%;

    display: flex;
    flex-direction: column;
}
#welcome{
    width: 18%;
    margin: -54% -2% -0.5% 9%;
    position: sticky;
}
#webeee{
    width: 54%;
    margin: -5% 0% 0% 7%;

    position: sticky;
}


/*MENU*/
#logo{  
    width: 5%;
    margin: 50px 8% 0 93%;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}
#logo:hover{
    transform: scale(1.05);
}
#menu{
    width: 0%;
    right: 400px;
    margin: 60px 5% 0 0%;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.tab{
    width: 90%;
    margin: 0% 20;
    background-color: var(--white);
    border-radius: 25px;
    font-size: 90%;
    
    font-size: 20px;
    color: var(--grey);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    transition: 0.5s;
}
.tab:hover{
    transform: scale(1.05);
    color: var(--ambeee);
    background-color: var(--grey);
}


/*PAGINA*/
#Pagina{
    height: 5%;
    margin-top: -5%;
    padding-top: 100%;

    position: static;
    background-color: var(--ambeee);
}
#consigliati{
    height: 10%;
    width: 15%;
    margin: -95% 40%;
    padding: 1% 2% 3% 1%;

    background-color: var(--second);
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 125%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
#frecciaMenu{
    display: none;
}

/*MOBILE*/
@media screen and (max-width: 480px){
    html{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    #sfondo{
        width: 100%;
        margin-top: 240px;
        position:static;
    }
    /*INTESTAZIONE*/
    #Titolo{
        width: 100%;
        margin: -250px 0 0 0;
    }
    #welcome{
        width:  30%;
        margin: 0px 0 0 0;
        align-self: center;
        position: sticky;
        display: none;
    }
    #webeee{
        width: 300px;
        align-self: center;
        position: sticky;
        
    }

    /*MENU*/
    #logo{
        display: none;
    }
    #menu{
        display: none;
    }

    /*PAGINA*/
    #pagina{
        height: 60%;
        margin: 70px 0 0 0;
        padding: 0 0 0 0;
        display: flex;
        position: sticky;
    }
    #consigliati{
        height: 10%;
        width: 15%;
        margin: -95% 40%;
        padding: 1% 2% 3% 1%;

        background-color: var(--second);
        color: var(--white);
        font-family: 'Permanent Marker', cursive;
        font-size: 125%;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }
    
    /*Menu Mobile*/
    #menuBox{
        width: 70%;
        height: 200px;
        margin: -250px 15% 50px;
        padding: 0px 0 20px 0;

        border-radius: 25px;
        position: fixed;
        justify-self: center;
        background-color: white;
        display: none;
        
    }
    #menuBox img{
        width: 20%;
        margin: 20px 40% 10px 40%;
        transform: rotate(180deg);
    }
    #menuM{
        margin: -50px 0 0 0;
        padding: 35px 0 10 0;

        display: flex;
        flex-direction: column;
    }
    .mobileTab{
        width: auto;
        margin: 10px 10% 10px 10%;
        padding: 5px;
        
        background-color: var(--bluelectric);
        border-radius: 20px;
        text-align: center;
        text-transform: capitalize;

        font-size: 15px;
        color: white;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
    .mobileTab a{
        color: white;
    }
    #frecciaMenu{
        width: 20%;
        margin: -50px 40% 0px 40%;
        position: fixed;
        display: block;
    }

    @media screen and (max-height: 732px){
        #menuBox{
            margin-top: -300px;
        }
        #frecciaMenu{
            margin: -110px 40% 0 40%;
        }
    }
}