/*GENERALE*/
*{
    margin: 2% 0% 0% 0%;
    padding: 4% 0 0% 0;
    text-decoration: none;
}
:root{
    --ambeee: #ffab40;
    --ambeShadow: #b87711;
    --bluelectric: #091fea;
    --electricShadow: #1e1eb7;
    --red: #ff3737;
    --redShadow: #8f1111;
    --grey: #303030;
    --black: black;
    --white: white;
    --link: #13FF22;
}
#sfondo{
    width: 100%;
    margin: -16% 0%;

    position:relative;
    display: flex;
    background-color: var(--white);
}

/*MENU*/
#logo{  
    width: 5%;
    margin: -65% 7% 0 93%;
    position: fixed;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#logo:hover{
    transform: scale(1.05);
}
#menu{
    width: 5%;
    top: 0%;
    right: 30%;

    position: fixed;
    display: flex;
    flex-direction: row;
}
.tab{
    width: 90%;
    margin: 0% 30px; /*30px*/
    
    background-color: var(--white);
    border-radius: 25px;

    font-size: 100%;
    color: var(--grey);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.tab:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    color: var(--bluelectric)
}





/*PAGINA*/
#SfondoPagina{
    width:100%;
    margin: -0% 0 0 0;

    padding-left:0%;
    padding-top: 0%;   

    position: static;
    display: flex;
    flex-direction: column-reverse;
}
#intro{
    top: 135%;
    margin: 5% 0% 0% 20%;
    width: 60%;

    position: absolute;
    align-self: center;
    cursor:pointer;
    border-radius: 25px;

    text-align: center;
    font-size: 120%;
    font-weight: bold;
    line-height: 200%;
    font-family: 'Goblin One', cursive;
}
#intro p{
    margin: -9% 1% 2% 1%;
}
#intro:hover{
    background-color: white;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    margin-top: 6%;
}
#barra{
    width: 27%;
    height: 5%;
    margin: -20% 0% 0% 37%;
    padding: 0% 0% 0% 2%;

    border-radius: 25px;
    position: absolute;

}
.pagina{
    height: auto;
    margin: -1% 0% 0% 0%;
    padding: 0 0 10% 0;

    position: static;
    background-color: var(--ambeee);
    display: flex;
    flex-direction: column-reverse;
}
#elencoTag{
    width: 22.5%;
    height: auto;
    margin: -17.25% 0% 0% 38.25%;
    padding: 0% 0% 1% 2%;
    

    position: absolute;
    display: none; /*diventa Flex*/
    flex-direction: column-reverse;
    background-color: var(--white);
    box-shadow: 0px 1px 0px 1px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    font-family: 'Goblin One', cursive;
    color: var(--grey);
}

/*Sezione News*/
.notizia{
    top: 0%;
    margin: 0% 0% 0% 5%;
    padding: 0% 0% 2% 0%;
    height: 120%;
    width: 60%;
    
    background-color: var(--white);
    box-shadow: var(--ambeShadow);
    position: static;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 25px;
}
.testo{
    padding: 0% -20%;
    display: flex;
    flex-direction: column;
}
.newsImg img{
    margin: -5% 0% 0% -20%;
    width: 100%;
    
    position: sticky;
    border-radius: 50px;
}
.Titolo{
    margin: 0% 0% 0% 0%;
    width: 60%;

    font-family: "Itim";
    color:var(--black);
    font-weight: bold;
    font-size: 150%;
    text-align: left;
}
.Descrizione{
    margin: 1% 0% 1% 0%;
    width: 60%;

    overflow: hidden;
    position: sticky;

    font-family: "Roboto Mono";
    color:var(--black);
    font-size: 15px;
    text-align: left;
}
.tag{
    width: 30%;
    margin: 0% 0% 0% 0%;

    display: flex;
    flex-direction: row;
    color: var(--grey)  ;
}