/*GENERALE*/
*{
    margin: 0;
    padding: 2.7% 0 0 0;
    text-decoration: none;
}

:root{
    --bluelectric: #2424F2;
    --ambeee: #E7A026;
    --second: #303030;
    --black: black;
    --white: white;
    --ombrablu: 0px 0px 20px 20px #2424f267;
    --ombrarancione: 0px 0px 20px 20px rgba(248, 123, 6, 0.4);
    --link: #13FF22;
}

#sfondo{
    width: 100%;
    margin-top: -8%;

    position:relative;
    display: flex;
}



/*INTESTAZIONE*/

#Titolo{
    display: flex;
    flex-direction: column;
}

#welcome{
    width: 20%;
    margin-top: -53%;
    margin-left: 9%;
    position: sticky;
}

#webeee{
    width: 60%;
    margin: -2% 7%;

    position: sticky;
}

#firma{
    width: 3%;
    margin: -48% 0 0 96%;
    position: sticky;
}


/*MENU*/
#logo{  
    width: 7%;
    margin: -20% 5% 0 87%;
    position: fixed;
}

#logo:hover{
    transform: scale(1.1);
}

#menu{
    height: 10%;
    margin: -37% 10% 0 87.5%;
    
    position: fixed;
    display: flex; /*flex*/
    flex-direction: column;
}

#Tab{
    height: 30%;
    width: 110%;
    padding: 20%;
    margin: 0% 5% 20% 0%;

    background-color: white;

    color: var(--second);
    font-family: 'Permanent Marker', cursive;
    border-radius: 20px;

}

#Tab:hover{
    transform: scale(1.05);
}


/*PAGINA*/
#Pagina{
    height: 5%;
    margin-top: -5%;
    padding-top: 100%;

    position: static;
    background-color: #E7A026;
}
#consigliati{
    height: 10%;
    width: 15%;
    margin: -95% 40%;
    padding: 1% 2% 3% 1%;

    background-color: var(--second);
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 125%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
